# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
      branches: [ master ]
        pull_request:
	    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
    build:
        # The type of runner that the job will run on
	    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
	    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
	        - uses: actions/checkout@v2

    # Runs a single command using the runners shell
        - name: Install dependencies, and Google Test
	      run: |
	              sudo apt-get update
		              sudo apt-get install -y --force-yes apt-utils build-essential wget git cmake clang ninja-build curl
			              sudo apt-get install -y --force-yes libgtest-dev
				              sudo mkdir -p "/usr/src/googletest/build/ && cd "/usr/src/googletest/build"
        sudo cmake -G Ninja .. -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_INSTALL_LIBDIR=lib -DBUILD_SHARED_LIBS=ON
        sudo cmake --build .
        sudo cmake --build . --target install
        
    # Runs a set of commands using the runners shell
    - name: Compile the package and run the tests
      run: |
        bash build.sh
